<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.gmall.manage.mapper.BaseAttrInfoMapper">
    <!--    autoMapping="true"自动映射-->
    <resultMap id="BaseAttrInforMap" type="com.company.gmall.bean.BaseAttrInfo" autoMapping="true">
        <!--        主键-->
        <id property="id" column="id"/>
        <!--        普通字段-->
        <!--        <result property="spuId" column=""/>-->

        <!--        配置一对多-->
        <collection property="attrValueList" ofType="com.company.gmall.bean.BaseAttrValue" autoMapping="true">
            <id property="id" column="base_attr_value_id"/>
        </collection>

        <!--        配置多对一-->
        <!--        <association property=""/>-->
    </resultMap>

    <select id="selectBaseAttrInfoByCatalog3Id" resultMap="BaseAttrInforMap">

        SELECT bai.id,bai.attr_name ,bai.catalog3_id,
        bav.id base_attr_value_id,
        bav.value_name,
        bav.attr_id
        FROM base_attr_info bai
        INNER JOIN base_attr_value bav
        ON bai.id = bav.attr_id
        where bai.catalog3_id = #{catalog3Id,jdbcType=VARCHAR}

    </select>
</mapper>